<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12/phpunit.xsd"
         colors="true"
>
    <php>
        <env name="XDEBUG_MODE" value="coverage"/>
    </php>

    <extensions>
        <bootstrap class="DG\BypassFinals\PHPUnitExtension"/>
    </extensions>

    <testsuites>
        <testsuite name="Data Resolver Handlers - Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <clover outputFile="build/reports/clover.xml"/>
        </report>
    </coverage>

    <logging>
        <teamcity outputFile="build/reports/teamcity-report.txt"/>
        <testdoxHtml outputFile="build/reports/html-report.html"/>
        <testdoxText outputFile="build/reports/dox-report.txt"/>
    </logging>

</phpunit>
